<ion-view view-title="Sobre">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
	      <h4>Aplicativo Emergências</h4>

	      <p>O Aplicativo Emergências é resultado da articulação colaborativa de agentes da sociedade civil e do governo. Desenvolvido pelo Hacklab, contou com o apoio do Instituto Mutirão e da Rede Fora do Eixo, que atenderam a provocação da Secretaria de Cidadania e Diversidade Cultural em fazer uso da API de dados abertos disponibilizada pelo Ministério da Cultura.</p>

        <div style="margin:0 auto;">
          <a href="#" onclick="window.open('https://hacklab.com.br', '_system', 'location=yes'); return false;">
              <img class="logo_hacklab" src="img/hacklab.png"/>
          </a>
          <a href="#" onclick="window.open('http://institutomutirao.org/', '_system', 'location=yes'); return false;">
	            <img class="logo_mutirao" src="img/mutirao.png"/>
          </a>
        </div>
	      <p>Agradecemos a todos que se prontificaram a nos ajudar pra viabilizar este app. Este é o nosso apoio ao Emergências, e quem quiser colaborar no desenvolvimento e saber mais sobre o processo, é só colar no #EncontroHacker!</p>

	      <p>Um salve pra <b>Luciana Roude e Isabella</b>, que se prontificaram a ajudar com as crianças enquanto os hackers mergulhavam no código, pro <b>Rafael Cordeiro</b> e a equipe do Coletivo Carpas, que deram uma força com a publicação do app. E se esquecemos alguém, vai na próxima versão, que estamos em cima da hora ;-). Tamo junto!</p>

	      <p>Colabore: <a href="#" onclick="window.open('https://github.com/hacklabr/emergencias-app', '_system', 'location=yes'); return false;">https://github.com/hacklabr/emergencias-app</a></p>

            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
