<ion-view view-title="Sobre">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
                <h1>Emergências</h1>
                <h5>Encontro global de cultura, ativismo e política</h5>

                <p>O App do Emergências foi desenvolvido pelo Hacklab utilizando API de dados abertos do Ministério da Cultura.</p>

		<p>Agradecemos a todos que se prontificaram a nos ajudar pra viabilizar este app. Este é o nosso apoio ao Emergências. E quem quiser saber mais do App, cola no #EncontroHacker!</p>

		<p>Um salve pra <b>Luciana Roude e Isabella</b>, que se prontificaram a ajudar com as crianças enquanto os hackers mergulhavam no código, pro <b>Rafael Cordeiro</b> e sua equipe, da Carpas, que deram uma força com a publicação do app, e ao <b>Uirá Porã</b>. E se esquecemos alguém, vai na próxima versão, que estamos em cima da hora pra mandar pra Apple ;-). Tamo junto!</p>

		<p>Mais sobre o Emergências: <a href="http://emergencias.cultura.gov.br">http://emergencias.cultura.gov.br</a></p>

		<img class="logo_hacklab" src="img/hacklab.png"/>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
