<ion-view view-title="Virada Cultural 2015">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
                <h1>Emergências</h1>
                <h4>Encontro global de cultura, ativismo e política</h4>

                <h3>APRESENTAÇÃO</h3>

                <p>Em um momento de intensas transformações e diante de uma crise de dimensões globais que atinge os mais diversos setores e institucionalidades, a cultura surge como ativadora de processos emergentes na disputa por direitos civis, políticos, sociais, econômicos e ambientais. De 7 a 13 de dezembro, pensadores, ativistas, artistas, produtores culturais, gestores e agentes políticos de todo o mundo vão participar, no Rio de Janeiro, na Região Metropolitana e na Baixada Fluminense, do Emergências, projeto do Ministério da Cultura (MinC), por meio da Secretaria da Cidadania e da Diversidade Cultural.</p>

                <p>O objetivo é pensar a cultura na centralidade das lutas pela ampliação dos direitos e entender as mudanças no campo da política, dos comportamentos, da economia, das artes, e debater a emergência de novos modelos de sociabilidade. Trata-se de criar um território cognitivo e afetivo, um espaço de conexão e diálogos para viver e pensar as aventuras políticas do século XXI. A ideia é reunir coletivos, indivíduos e redes que entendem que a mudança só virá a partir de uma transformação cultural e de mentalidade baseada no respeito à diversidade e em um reencantamento da política.</p>
                <h3>POR QUE EMERGÊNCIAS?</h3>

                <p>O nome do evento remete aos dois sentidos da palavra. De um lado, o sentido de urgência, associado a uma necessidade imediata de ações de enfrentamento dos retrocessos no campo dos direitos culturais e no conjunto dos direitos humanos. De outro lado, a palavra emergências faz referência ao surgimento de um novo contexto social, cultural, político e econômico marcado por novas formas de convivência geradas por uma verdadeira revolução sociocultural. Aliada à mudança tecnológica e às comunicações, viabiliza novos territórios culturais, novas modalidades de organização social e  um novo mundo no campo da informação.</p>
                 <h3>OBJETIVOS</h3>

                <p>Debater o papel da cultura e da dimensão simbólica nas disputas sociais e políticas; Discutir, compreender e dar visibilidade aos processos emergentes da disputa por direitos civis, políticos, sociais, culturais, econômicos e ambientais; Ampliar conexões, aproximar e trocar experiências entre os mais diversos grupos – de atuação territorial, nacional e global que defendem tais direitos; Apresentar e debater as políticas públicas e outras iniciativas de governo pró-direitos; Criar território para convívio dos mais diversos grupos e reunir as temáticas e atores que são referências em seus campos.</p>
                 <h3>PARTINDO DA CULTURA</h3>

                <p>O Emergências posiciona a Cultura como campo estratégico nas disputas sociais e politicas contemporâneas. Este é um evento com construção participativa que cria um campo de confluência para a reflexão sobre a Cultura Política no início do Século XXI. A forma de organização, com chamadas pública e propostas vindas da sociedade civil cria um ambiente de construção compartilhada e contempla uma diversidade de atores, com presença e protagonismo dos movimentos tradicionais, dos novos movimentos e das novas formas de atuação política.</p>
                <h3>GOVERNANÇA</h3>

                <p>É um evento institucional, que dialoga com pautas da sociedade e que propõe uma relação participativa com os movimentos sociais e culturais, parlamentares, gestores, artistas e ativistas.</p>
                <h3>CARAVANAS</h3>

                <p>A mobilização para participar do Emergências nos estados brasileiros e na América Latina já começou. Reuniões com articuladores locais estão levantando as caravanas que se deslocarão até a capital carioca e uma estrutura para hospedagem e um acampamento será montado no Rio de Janeiro para receber 1500 pessoas.</p>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
