<ion-view view-title="Emergências">
    <ion-content>
        <article class="single text-center">
            <div class="post-content clearfix">
	      <h3>Encontro Global de Cultura, Ativismo e Política</h3>

	      <p>Realizado pelo Ministério da Cultura entre os dias 7 e 13 de setembro, evento conta com 13 mesas de debate, 25 percursos culturais, 12 oficinas, 125 atrações artísticas, 97 rodas de conversa, 21 Encontros de Redes e 12 espaços permanentes.</p>

	      <p>Pensar a cultura como ativadora de processos na conquista de direitos civis, políticos, sociais, econômicos e ambientais é o objetivo central do Emergências, projeto que reúne pensadores, ativistas, artistas, produtores culturais, gestores e agentes políticos.</p>

	      <h4>Por que Emergências?</h4>
	      <p>O nome do evento remete a dois sentidos da palavra. De um lado, o sentido de urgência, associado a uma necessidade imediata de ações de enfrentamento dos retrocessos no campo dos direitos culturais e no conjunto dos direitos humanos. De outro lado, a palavra emergências faz referência ao que emerge, ao surgimento de um novo contexto social, cultural, político e econômico. Um contexto que surge aliado à mudança tecnológica e às comunicações, que viabiliza novos territórios culturais, novas modalidades de organização social e um novo mundo no campo da informação.</p>

        <h4>Acompanhe Online</h4>
        
        <strong>Canal no Telegram:</strong> <a href="https://telegram.me/emergencias2015">https://telegram.me/emergencias2015</a>
        <strong>Facebook:</strong> <a href="http://fb.com/emergencias.cultura">http://fb.com/emergencias.cultura</a>
        <strong>Twitter:</strong> <a href="http://twitter.com/emergencias2015">http://twitter.com/emergencias2015</a>
        <strong>Instagram:</strong> <a href="http://instagram.com/emergencias2015">http://instagram.com/emergencias2015</a>

	      <strong>Saiba mais:</strong> <a href="http://emergencias.cultura.gov.br/">http://emergencias.cultura.gov.br</a>

            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
