<ion-view>
    <ion-nav-title>
        {{ event.name }}
    </ion-nav-title>
    <ion-content>
        <article id="event-00" class="single">
            <header>
                <h1>{{ event.name }}</h1>
            </header>
            <div class="servico">
                <p>
                    <span>{{event.date}} às {{event.startsAt}}<br></span>
		    <span ng-if="event.space">
		      <small class="event-term event-place">
			<i class="icon icon_pin"></i> {{event.space.name}}
		      </small>
		      <br/>
		    </span>
		    <span ng-if="event.types[0]">
                      <small class="event-term event-track" ng-repeat="type in event.types">
			<i class="icon icon_chat"></i> <span ng-repeat="type in event.types">{{type}}<span ng-if="!$last">, </span></span>
		      </small>
		      <br/>
		    </span>
		    <span ng-if="event.meetings[0]">
		      <small class="event-term event-type">
			<span ng-repeat="meeting in event.meetings">
			  <i class="icon_hashtag"></i>
			  Encontro{{meeting}}
			  <span ng-if="!$last">, </span>
			</span>
                      </small>
		      <br/>
		    </span>
		    <span ng-if="event.territories[0]">
		      <small class="event-term event-type">
			<i class="icon_map"></i>
			<span ng-repeat="territory in event.territories">
			  #Percurso{{territory}}
			  <span ng-if="!$last">, </span>
			</span>
                      </small>
		    </span>
                </p>
            </div>
            <div class="post-content clearfix">
                <p ng-bind-html="event.description"></p>
            </div>
	    <div class="speaker" ng-repeat="speaker in event.speakers">
	      <hr />
	      <img ng-if="speaker.defaultImageThumb" ng-src="{{speaker.defaultImageThumb}}">
	      <h2>{{speaker.name}}</h2>
	      <p ng-if="speaker.description" ng-bind-html="speaker.description"></p>
	    </div>
            <!-- .post-content -->
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
