<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light" ng-controller="ButtonsCtrl">
            <ion-nav-back-button class="button-clear">
                <div class="icon arrow_left"></div>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <div class="button button-logo" menu-toggle="left">
                </div>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <div ng-if="programacao"
                     class="button icon ion-android-more-vertical" menu-toggle="right">
                </div>
                <div ng-repeat="b in shareButtons"
                    ng-if="!programacao && showMe(b)"
                    ng-click="share(b)" class="button icon social_share"></div>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view id="menu-view" name="menu-view"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu id="left-menu" side="left">
        <ion-content class="espacinho">
            <ion-list>
                <ion-item class="item-icon-left" menu-close ui-sref="virada.programacao()">
                    <i class="icon icon_clock"></i>
                    Programação
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="virada.minha-virada()">
                    <i class="icon icon_star"></i>
                    Minha Virada
                </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="virada.social()">
                    <i class="icon icon_map"></i>
                    Mapa
                    </ion-item>
                <ion-item class="item-icon-left" menu-close ui-sref="virada.about()">
                    <i class="icon icon_info"></i>
                    Sobre
                </ion-item>
                <!--<ion-item class="item-icon-left" menu-close href="#/virada/sobre">
                    <i class="icon icon_cog"></i>
                    Configurações
                </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu id="right-menu" ng-controller="FilterCtrl" side="right" is-enabled="programacao">
        <ion-content class="espacinho">
            <ion-list>
                <div class="item item-input">
                    <i class="icon icon_search placeholder-icon"></i>
                    <input ng-model="tempFilters.filters.query" ng-keydown="keyLog($event)" type="text" placeholder="Buscar">
                </div>

                <ion-item class="item-divider">
                    Filtrado por:
                </ion-item>
                <!--<div class="item item-toggle">
                    <i class="icon icon_circle-slelected"></i>
                    Próximas a mim
                    <label class="toggle toggle-dark">
                    <input type="checkbox">
                    <div class="track">
                    <div class="handle"></div>
                    </div>
                    </label>
                    </div>-->
                <ion-item>
                    <div ng-click="openModal()">
                        <i class="icon icon_pin"></i>
                        Locais
                        <span ng-show="selectedSpaces" class="badge badge-dark">
                            {{selectedSpaces}}
                        </span>
                    </div>
                </ion-item>
                <ion-item>
                    <div>
                        <i class="icon icon_clock"></i>
                        Horário
                        <article>
                            <rzslider
                                rz-slider-floor="timeSlider.range.min"
                                rz-slider-ceil="timeSlider.range.max"
                                rz-slider-model="timeSlider.model.min"
                                rz-slider-high="timeSlider.model.max"
                                rz-slider-translate="timeSlider.translate"
                                rz-slider-step="1"></rzslider>
                        </article>
                    </div>
                </ion-item>
                <!--<div class="item item-time-range">
                    <i class="icon icon_clock"></i>
                    Horário
                    </div>-->

                <ion-item class="item-divider">
                    Ordenado por:
                </ion-item>

                <ion-radio ng-model="tempFilters.view" ng-change="change(this)" ng-value="'L'">
                    <i class="icon icon_pin"></i> Local
                </ion-radio>

                <ion-radio ng-model="tempFilters.view" ng-change="change(this)" ng-value="'A'">
                    <i class="icon arrow_up-down_alt"></i> Ordem alfabética
                </ion-radio>

                <ion-radio ng-model="tempFilters.view" ng-change="change(this)" ng-value="'H'">
                    <i class="icon icon_clock"></i> Horário
                </ion-radio>
            </ion-list>
        </ion-content>
        <ion-footer-bar align-title="left" class="bar-light">
            <div class="button-bar">
                <a class="button button-large icon-left ion-close-circled" ng-click="clearFilters()">Limpar</a>
                <a class="button button-large icon-left ion-checkmark-circled" ng-click="applyFilters()">Aplicar</a>
            </div>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>

<script id="places.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-assertive bar-icon-right">
            <h1 class="title">Filtrar locais</h1>
            <div class="button button-clear" ng-click="modal.hide()">
                <span class="icon ion-android-done"></span>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <!-- WARNING: Please, don't change it to label, will stop working -->
                <div class="item item-input">
                    <i class="button button-clear icon icon_search placeholder-icon"></i>
                    <input type="text" ng-model="filters.places.query" placeholder="Buscar" />
                    <div ng-if="filters.places.query.length" class="button button-clear" ng-click="resetSearch()">
                        <span class="icon ion-backspace-outline"></span>
                    </div>
                </div>
                <ion-checkbox
                        item-height="50px"
                        item-width="100%"
                        collection-repeat="space in lespaces | searchPlaces:filters.places.query"
                        class="checkbox-assertive"
                        type="checkbox"
                        ng-click="countSpace(space)"
                        ng-value="{{ space.id }}"
                        ng-checked="checked"
                        ng-model="space.checked"> {{ space.name }} </ion-checkbox>
        </div>
        </ion-content>
    </ion-modal-view>
</script>
