<ion-view view-title="Onde Acontece">
    <ion-content>
        <article class="single text-center">
            <div class="post-content onde clearfix">
	      
	      <h2>Espaços Permanentes</h2>
	      <p>
		<h3>Fundição Progresso</h3>
		<small><i class="icon icon_pin"></i>R. dos Arcos, 24 - Centro</small><small><i class="margin"></i>Rio de Janeiro - RJ</small>
		<small><i class="icon icon_phone"></i>(21) 2220-5070</small>
	      </p>

	      <p><h3>Circo Voador</h3>
		<small><i class="icon icon_pin"></i>Rua Arcos - Lapa</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 2533-0354</small></p>
	      
	      <p><h3>Museu Histórico</h3>
		<small><i class="icon icon_pin"></i>Praça Mal. Âncora, s/n - Centro</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 3299-0324</small></p>
	      
	      <p><h3>Museu da República </h3>
		<small><i class="icon icon_pin"></i>R. do Catete, 153 - Catete</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 2127-0324</small></p>
	      
	      <p><h3>Parque Lage </h3>
		<small><i class="icon icon_pin"></i>Jardim Botânico, 414 - Jardim Botânico</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 3257-1800</small></p>
	      
	      <p><h3>Praia do Arpoador</h3>
		<small><i class="icon icon_pin"></i>Av. Francisco Bhering, Ipanema. </small><small><i class="margin"></i>Entre o Forte de Copacabana e a Rua Francisco Otaviano com a Avenida Vieira Souto.</small></p>
	      
	      <p><h3>Praça Mauá </h3>
		<small><i class="icon icon_pin"></i>Av. Rodrigues Alves, 135 - Centro</small><small><i class="margin"></i>Rio de Janeiro - RJ</small></p>
	      
	      <p><h3>Centro Calouste Gulbenkian </h3>
		<small><i class="icon icon_pin"></i>Benedito Hipólito, 125 - Centro</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 2292-7546</small></p>
	      
	      <p><h3>Paço Imperial </h3>
		<small><i class="icon icon_pin"></i>Praça Quinze de Novembro, 48 - Centro</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>(21) 2533-4359</small></p>
	      
	      <h2>Acampamento Emergências</h2>
	      
	      <p><h3>Quinta da Boa Vista</h3>
<small><i class="icon icon_pin"></i>Avenida Pedro II, sem número</small><small><i class="margin"></i>bairro São Cristóvão</small><small><i class="margin"></i>Rio de Janeiro - RJ</small><small><i class="icon icon_phone"></i>Telefone: (21) 3878-4200</small></p>

            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
