<ion-view>
    <ion-nav-title>
        {{ space.name }}
    </ion-nav-title>
    <ion-content>
        <article id="space-00" class="single">
            <div class="timeline clearfix">
                <div class="event-group" ng-repeat="event in spaceEvents">
                    <div class="timeline-time" ng-if="event.duration === '24h00'">24 horas</div>
                    <div class="timeline-time" ng-if="event.duration !== '24h00'">{{event.startsAt}}</div>
                    <article class="event clearfix event-grid" ng-class="{'no-thumb' : !event.defaultImageThumb, 'evento-24h': event.duration === '24h00'}">
                        <a href="#/virada/programacao/atracao/{{event.id}}">
                            <img ng-src="{{event.defaultImageThumb}}"/>
                            <div class="event-content clearfix">
                                <h1>{{event.name}}</h1>
                            </div>
                        </a>
                        <script id="atracao-friends-group" type="text/ng-template">
                        <div class="friends-group">
                            <a href="#" class="friend" title="Nome do amigo">
                                <!--aqui entra um avatar aleatório ou do último amigo a favoritar e!-sse evento com link pra Minha Virada do amigo -->
                                <!--img avatar-->
                            </a>
                            <a href="#" class="friend" title="Nome do amigo">
                                <!--aqui entra um avatar aleatório ou do penúltimo amigo a favoritar esse evento com link pra Minha Virada do amigo -->
                                <!--img avatar-->
                            </a>
                            <a href="#" class="friend" title="Nome do amigo">
                                <!--aqui entra um avatar aleatório ou do antepenúltimo amigo a favoritar esse evento com link pra Minha Virada do amigo -->
                                <!--img avatar-->
                            </a>
                            <a href="#" class="friend"><div title="Nome dos amigos">+000</div></a><!-- link pra modal com lista de todos amigos quando exceder 3 amigos-->
                        </div>
                        </script>
                        <a ng-class="{icon_star: event.in_minha_virada==true}"
                           class="icon favorite favorite-wait favorite-event-{{event.id}} icon_star_alt"
                           ng-click="minha_virada(event)">
                           </a>
                    </article>
                </div>
            </div>
            <!-- .timeline -->
            <div class="servico">
                <p>
                    <span><span class="label">Endereço:</span> {{space.endereco}}<br></span>
                    <span><span class="label">Telefone:</span> {{space.telefonePublico}}<br></span>
                    <span ng-if='space.acessibilidade'><span class="label">Acessibilidade:</span> Sim<br></span>
                </p>
            </div>
        </article>
        <!-- .single -->
    </ion-content>
</ion-view>
