<ion-view view-title="Programação">
    <ion-content id="programacao-content" overflow-scroll="true">
        <div ng-hide="renderDone">
            <article class="single">
                <p>&nbsp;</p>
                <p class="text-center">
                    <ion-spinner ng-show="!repeatDone" icon="dots" class=""></ion-spinner>
                </p>
            </article>
        </div>
        <div ng-show="renderDone" class="list list-programacao">
            <div class="list">
                <div class="collection-repeat-container" >
                    <div id="programacao-container" ng-class="{'sorted-by-place': view.sorted === 'L'}">

                    </div>
                </div>
            </div>
        </div>


<script type="text/html" id="template-palco">
    <div class="item item-divider">
        <div class="item-content" onclick="redirectFromListTo('#/virada/programacao/palco/<%= entity.id %>')">
            <div class="item-complex">
                <%= entity.name %>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="template-evento">
    <div class="item" >
        <div class="item-content">
            <div>
                <a onclick="redirectFromListTo('#/virada/programacao/atracao/<%= entity.id %>')">
                    <div class="event-time">
                        <i class="icon icon_clock"></i>
                        <time class="ng-binding">
                            <%= entity.startsAt %>
                        </time>
                    </div>
                    <h2>
                        <%= entity.name %>
                    </h2>
                </a>
                <% if(entity.space){ %>
                <small class="event-place"><a onclick="redirectFromListTo('#/virada/programacao/palco/<%= entity.space.id %>')"><i class="icon icon_pin"></i> <%= entity.space.name %></a></small>
                <% } %>

            </div>
            <% if (connected) { %>
                <a href=# class="js-minha-virada" onclick="minha_virada(this.parentElement.parentElement.event);">
                    <% if (entity.in_minha_virada){ %>
                    <i class="icon icon-accessory event-star icon_star"></i>
                    <% } else { %>
                    <i class="icon icon-accessory event-star icon_star_alt"></i>
                    <% } %>
                </a>
            <% } else { %>
                <i class="icon ion-chevron-right icon-accessory"></i>
            <% } %>
        </div>
    </div>
</script>
    </ion-content>
</ion-view>
