<ion-view>
  <ion-nav-title>#Encontro{{meeting.id}}</ion-nav-title>
    <ion-content id="programacao-content" overflow-scroll="true">
      <div g-show="renderDone" class="list list-programacao">
	<div class="chat-telegram" ng-if="meeting.telegram">
	  <img class="icon-telegram" src="/img/icon-telegram.png"/>
	  <a ng-href="{{meeting.telegram}}">
	    <small>Participe do grupo {{meeting.id}}</small>
	  </a>
	</div>
        <div class="list">
          <div class="collection-repeat-container" >
            <div id="programacao-container">
                <div ng-repeat="(date, events_group) in events | arrayFilter: 'meetings': [meeting.id] | orderBy:'startsOn' | groupBy: 'date'">
		  <ng-include src="'templates/event-item.html'"></ng-include>
                </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
 </ion-view>
