<ion-view view-title="Programação Cultural">
    <ion-content id="programacao-content" overflow-scroll="true">
      <div g-show="renderDone" class="list list-programacao">
        <div class="list">
          <div class="collection-repeat-container" >
            <div id="programacao-container">
                <div ng-repeat="(date, events_group) in events | arrayFilter: 'types': ['Programação Cultural'] | orderBy:'startsOn' | groupBy: 'startsOn'">
		  <ng-include src="'templates/event-item.html'"></ng-include>
                </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
 </ion-view>
