
/**
 * List
 * --------------------------------------------------
 */

.list {
	margin-bottom: 0;
}
.event-terms {
    margin-left: -0.3em;
}
small.event-term {
    float: left;
    margin-left: 0.5em;
}
div.event-speaker-container {

}
.icon_hashtag {
    color: #CD2028;
    font-weight: bold;
}
.icon_hashtag:before {
    content: "#";
}
.event-speakers a {
    margin-left: 0.5em;
    float: left;
}
.icon_group { float: left; }
small.event-place span { margin-left: 1em; }
.sorted-by-place small.event-place { display:none; }