
/**
 * List
 * --------------------------------------------------
 */

.list {
	margin-bottom: 0;
}

small.event-place { display:block; margin-top: 5px; margin-bottom:-5px }
.sorted-by-place small.event-place { display:none; }