
/**
 * List
 * --------------------------------------------------
 */

.list {
	margin-bottom: 0;
}

small.event-place {
    display:block; margin-top: 5px; padding-bottom:-5px;
}
span.event-track {
    margin-left: 0.5em;
}
.icon_hashtag {
    color: #CD2028;
    font-weight: bold;
}
.icon_hashtag:before {
    content: "#";
}
.event-place { margin-left: 2px; }
.icon_group { float: left; }
.event-speakers a {
    float: left;
    margin-left: 0.5em;
}
small.event-place span { margin-left: 1em; }
.sorted-by-place small.event-place { display:none; }