.notification {
    margin: 1em;
    h1 {
	font-size: 14px;
	margin-bottom: 3px;
    }
    p {
	
	font-family: $font-family-secondary;
	font-size: 12px;
	border-bottom: 1px solid #BBBBBB;
	margin-bottom: 5px;
	padding-bottom: 5px;
    }
}