.servico {
    background: $gray-light;
    border-left: 4px solid $brand-accent;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-family: $font-family-secondary;
    padding: $content-padding;
    color: $gray-dark;
    .label {
        color: $brand-accent;
    }
}